html,
body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 204);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 204, 1) 0%,
    rgba(204, 255, 204, 1) 100%
  );
  color: #00ced1;
}

button {
  background: rgb(0, 206, 209);
  color: #fff;
  padding: 0 45px;
  border: 2px solid rgb(0, 206, 209);
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weigth: bold;
  font-size:1.2em;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background-color: rgb(0, 80, 100);
  border: 2px solid rgb(0, 80, 100);
}